or-clustered-facets, [data-is=or-clustered-facets] {
  a {
    cursor: pointer;
  }

  a.or-show-all {
    font-size: 0.7rem;
  }

  .or-bucket {
    margin-top: 1rem;

    .or-show-all {
      display: block;
      float: right;
    }

    .or-category, .or-role {
      margin-bottom: 0.1rem;
    }
  }
}