or-clustered-facets, [data-is=or-clustered-facets] {
  .or-badge-list {
    .or-item-wrapper {
      display: block;
      margin-bottom: 5px;

      .or-item {
        display: inline-block;
        white-space: normal;
        padding-top: 5px;
        padding-bottom: 5px;

        a {
          @include cera(16px, 20px);
        }
      }
    }
  }

  a {
    cursor: pointer;
  }

  a.or-show-all {
    @include cera(16px, 20px);
  }

  .or-selected {
    margin-bottom: 70px;
  }

  .or-buckets {

  }

  .or-bucket {
    margin-top: 30px;

    a {
      text-decoration: none;
    }

    .or-role, .or-category, .or-custom-category {
      float: left;
    }

    .or-show-all {
      display: block;
      text-align: right;
      line-height: 42px;
      text-decoration: underline;
    }

    .or-category, .or-role {
      margin-bottom: 0.1rem;
    }
  }
}