@mixin index-nums {
  @include cera(13px, 13px);
  font-weight: bold;
  color: #00A4A9;
  text-decoration: none;
}

$line-color: #8D8D8D;

.or-detail-section {
  display: block;
  background-color: white;
  margin-left: 75px;
  margin-right: 75px;
  padding: 80px;
  box-sizing: content-box;
  width: 1120px;
  border-top: 1px solid $line-color;

  h2 {
    @include cera;
    font-weight: bold;
    margin-bottom: 40px;
  }

  .or-metadata {
    margin-left: 210px;
    width: 645px;
  }
}

.or-main-section {
  border-top: none;
}

or-doc, [data-is=or-doc] {
  display: block;
  background-color: white;
  margin-left: 75px;
  margin-right: 75px;
  padding: 80px;
  width: 1120px;

  .body {
    float: left;
    margin-left: 210px;
    width: 645px;

    .T_SousTitre {
      margin-bottom: 40px;
    }

    .docAuthor {
      font-style: italic;
      padding-bottom: 10px;
      // border-bottom: 1px solid $line-color;
      margin-bottom: 0px;
    }

    .index {
      padding: 40px;
      margin-top: 70px;
      border-top: 1px solid $line-color;
      border-bottom: 1px solid $line-color;

      p {
        font-style: italic;
      }

      a {
        display: block;
        color: #000000;
      }
    }

    // paragraph numbering
    article {
      counter-reset: paragraph;
    }

    section {
      margin-top: 80px;

      & > p:before, blockquote:before {
        position: absolute;
        margin-top: 3px;
        margin-left: -65px;
        color: black;
        content: counter(paragraph);
        counter-increment: paragraph;
        width: 50px;
        @include lyon(18px, 18px);
        text-align: right;
        font-style: normal;
        font-variant-numeric: normal;
        font-feature-settings: normal;
      }

      blockquote:before {
        margin-left: -105px;
      }
    }

    // footnote teasers besides text
    .manchette {
      display: inline-block;
      position: absolute;
      width: 225px;
      right: 155px;
      padding-left: 20px;
      @include cera(16px, 20px);
      font-style: normal;

      .appel {
        position: relative;
        top: -0.3em;
        padding-right: 8px;
        @include index-nums;
      }

      .suite {
        text-decoration: none;
      }
    }

    // footnote references within text
    .tonote {
      @include index-nums;
      padding-left: 3px;

      sup {
        font-size: inherit;
        top: -0.3em;
      }
    }

    // footnotes below text
    .notes {
      h2 {
        margin-bottom: 60px;
      }

      .note {
        margin-bottom: 18px;
      }

      .noteNum {
        display: block;
        float: left;
        margin-right: 8px;
        @include cera(13px, 13px);
        font-weight: bold;
        color: #00A4A9;
        text-decoration: none;
      }
    }
  }

  // .panel {
  //   float: right;
  //   margin-left: 20px;
  //   width: 245px;
  //   min-height: 1px;
  // }
}

or-paper, [data-is=or-paper] {
  display: block;
  background-color: #EBF5F4;
  // 20px for scroll:
  width: (75px + 80px + 210px + 645px + 20px + 245px + 80px + 75px + 20px);
  color: #000000;
  padding-bottom: 80px;
  @include lyon(18px, 24px);

  h1 {
    @include lyon(44px, 48px);
    color: #009bb5;
    margin-bottom: 30px;
    font-weight: normal;
  }

  h2 {
    @include cera;
    font-weight: bold;
    margin-top: 4rem;
  }

  h2:first-child {
    margin-top: 0px;
  }

  p {
    margin-bottom: 24px;
  }

  blockquote {
    margin: 40px;
    margin-top: 60px;
    margin-bottom: 60px;
    font-style: italic;
  }

  figure {
    margin: 0px;
    margin-top: 80px;
    margin-bottom: 80px;
    @include cera(18px, 24px);

    img {
      position: relative;
      left: -210px;
      display: block;
      margin-bottom: 30px;
      width: 1120px;
    }
  }

  hr {
    border-top-color: $line-color;
    margin: 0px;
  }

  a {
    text-decoration: underline;
  }

  .header {
    min-height: 190px;
    padding-top: 40px;
    padding-left: 75px;
    padding-right: 75px;
    @include cera;

    a {
      display: inline-block;
      color: #000000;
      text-decoration: none;
    }
    
    .formats {
      float: right;
      margin-right: 80px;

      a {
        margin-right: 20px;
      }

      or-content-locale-selector {
        display: inline-block;
        margin-left: 40px;

        a.active {
          text-decoration: underline;
        }
      }
    }

    .navigation {
      float: left;

      a {
        display: block;
      }
    }
  }

  .or-medium {
    margin-top: 48px;
    text-align: center;

    img {
      width: 400px;
    }

    .or-caption {
      margin-top: 48px;
      @include cera(18px, 24px);
      text-align: left;
    }
  }

  .or-perspectivia-ref {
    margin-top: 1em;
  }

  or-icon[which=up] {
    display: block;
    text-align: right;

    svg {
      cursor: pointer;
      margin-bottom: -6px;
    }
  }

  or-icon[which=close] {
    position: absolute;
    z-index: 10002;
    right: 40px;
    top: 40px;

    svg {
      cursor: pointer;
      margin-bottom: -6px;
    }
  }

  or-icon[which=previous] {
    position: absolute;
    z-index: 10002;
    left: 40px;
    top: 190px;

    svg {
      cursor: pointer;
    }
  }

  or-icon[which=next] {
    position: absolute;
    z-index: 10002;
    right: 40px;
    top: 190px;

    svg {
      cursor: pointer;
    }
  }

  or-magazine, or-article, or-interview, or-source, or-chronology {
    position: relative;
    display: block;
  }

  or-magazine {
    or-doc .body .docAuthor {
      border-bottom: none;
    }

    .or-cover {
      margin-right: -95px;
      text-align: center;
      padding-bottom: 80px;
      border-bottom: 1px solid $line-color;
    }
  }

  or-source {
    .in {
      margin-top: 40px;
    }

    .journal {
      font-style: italic;
    }
  }
}