or-results, [data-is=or-results] {
  @include cera(16px, 24px);

  .controls {
    margin-bottom: 30px;

    a {
      @include cera(16px, 18px);
      display: block;
      float: left;
      width: 20%;
      box-sizing: border-box;
      padding: 6px;
      cursor: pointer;
      border: 1px solid $gray-darker;
      border-left: none;
      text-decoration: none;

      &:first-child {
        border-left: 1px solid $gray-darker;
      }

      &.current {
        background-color: $gray-darker;
        color: #ffffff;
      }
    }
  }


  ul li:before {
    content: none !important;
  }

  .tab {
    ul > li {
      padding-bottom: 0px;

      & > img.icon {
        width: 1rem;
      }
    }
  }

  .clearfix {
    clear: both;
  }
}