@import 'styles/vars';

@import 'styles/w/app';
@import 'styles/w/messaging';
@import 'styles/w/modal';
@import 'styles/w/bar_chart';

@import 'styles/paper';
@import 'styles/filtered_chronology';
@import 'styles/general_filters';
@import 'styles/clustered_facets';
@import 'styles/slider';
@import 'styles/results';
@import 'styles/list_item';
@import 'styles/item_metadata';

or-pagination, [data-is=or-pagination] {
  a {
    cursor: pointer;
  }
}

or-item-list, [data-is=or-item-list] {
  or-pagination {
    display: block;
    text-align: right;
  }
}

or-language-selector, [data-is=or-language-selector] {
  line-height: 1.5rem;

  a {
    cursor: pointer;
  }
  
  .or-list-element {
    padding-right: 0.2rem;

    & > span {
      font-size: 0.7rem;
      border-radius: 3px;
      padding: 0.2rem;
      background-color: darken(#ffffff, 20%);
      white-space: nowrap;
    }
  }
}

or-busy-wheel, [data-is=or-busy-wheel] {
  width: 64px;
  height: 64px;
  display: none;

  img {
    width: 100%;
    height: 100%;
  }
}

or-medium, [data-is=or-medium] {
  text-align: right;

  img {
    width: 140px !important;
    border-radius: 6px;
  }

  .or-download {
    margin-top: 1rem;
  }
}

or-localized-value, [data-is=or-localized-value] {
  display: inline;
}

or-attribute, [data-is=or-attribute], or-person, [data-is=or-person] {
  cursor: pointer;
}

or-iframe, [data-is=or-iframe] {
  iframe {
    display: block;
    border: none;
    width: 800px;
    height: 100%;
  }
}

or-people-list, [data-is=or-people-list], or-attribute-list, [data-is=or-attribute-list] {
  .or-list {
    line-height: 42px;
    
    .or-list-element {
      padding-right: 10px;

      or-person, or-attribute, or-journal {
        @include cera(16px, 24px);
        border-radius: 10px;
        padding: 10px;
        padding-top: 8px;
        padding-bottom: 8px;
        background-color: #D8D8D8;
        white-space: nowrap;
      }
    }
  }
}

or-register-results, [data-is=or-register-results] {
 .or-result {
     margin-bottom: 0.5rem;
  }

  a {
    cursor: pointer;
  }

  .or-role {
    padding-right: 0.2rem;

    .or-button {
      font-size: 0.7rem;
      border-radius: 3px;
      padding: 0.2rem;
      background-color: darken(#ffffff, 20%);
      white-space: nowrap;
    }
  }
}

or-attribute-selector, [data-is=or-attribute-selector] {
  display: block;
  min-width: 60rem;

  or-register {
    display: block;
    float: left;
    width: 33.33%;
  }
  or-register-selector {
    display: block;
    float: left;
    width: 66.66%;
  }
}

or-source, [data-is=or-source] {
  or-language-selector {
    display: block;
    float: right;
  }
}

or-chronology-results, [data-is=or-chronology-results] {
  display: block;
}

or-icon, [data-is=or-icon] {
  display: inline-block;
}
