@import 'styles/vars';

@import 'styles/w/app';
@import 'styles/w/messaging';
@import 'styles/w/modal';
@import 'styles/w/bar_chart';

@import 'styles/paper';
@import 'styles/filtered_chronology';
@import 'styles/clustered_facets';
@import 'styles/slider';
@import 'styles/results';
@import 'styles/item_metadata';
@import 'styles/drupal_patches';

or-pagination, [data-is=or-pagination] {
  @include cera(16px, 24px);
  margin-bottom: 10px;

  svg {
    position: relative;
    top: 0.2em;
    width: 1em;
    height: 1em;
  }

  .or a {
    @include cera(16px, 24px);
    text-decoration: none !important;
    color: black;
    white-space: nowrap;

    .label {
      padding-left: 10px;
      padding-right: 10px;
      font-weight: normal;
    }
  }

  .or a.page {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;

    &.current {
      color: $turquoise;
    }

    &:first-child {
      padding-left: 0px;
    }

    &:last-child {
      padding-right: 0px;
    }
  }

}

or-results, [data-is=or-results] {
  or-pagination {
    display: block;
    text-align: right;
  }
}

or-language-selector, [data-is=or-language-selector] {
  display: block;

  select, select:hover, select:active, select:focus {
    @include or-select;
  }

  // line-height: 1.5rem;

  // a {
  //   cursor: pointer;
  // }
  
  // .or-list-element {
  //   padding-right: 0.2rem;

  //   & > span {
  //     font-size: 0.7rem;
  //     border-radius: 3px;
  //     padding: 0.2rem;
  //     background-color: darken(#ffffff, 20%);
  //     white-space: nowrap;
  //   }
  // }
}

or-busy-wheel, [data-is=or-busy-wheel] {
  width: 64px;
  height: 64px;
  display: none;

  img {
    width: 100%;
    height: 100%;
  }
}

or-medium, [data-is=or-medium] {
  img {
    width: 160px !important;
    border-radius: 6px;
  }

  .or-download {
    margin-top: 1rem;
  }
}

or-localized-value, [data-is=or-localized-value] {
  display: inline;
}

or-attribute, [data-is=or-attribute], or-person, [data-is=or-person] {
  cursor: pointer;
}

or-iframe, [data-is=or-iframe] {
  iframe {
    display: block;
    border: none;
    width: 800px;
    height: 100%;
  }
}

.or-badge-list {
  line-height: 42px;

  .or-item-wrapper {
    display: inline-block;
    padding-right: 10px;
    white-space: nowrap;

    .or-item {
      @include cera(16px, 24px);
      border-radius: 10px;
      padding: 10px;
      padding-top: 8px;
      padding-bottom: 8px;
      background-color: #D8D8D8;
      cursor: pointer;
    }
  }
}

// or-people-list, [data-is=or-people-list], or-attribute-list, [data-is=or-attribute-list] {
//   .or-list {
//     line-height: 42px;
    
//     .or-list-element {
//       padding-right: 10px;

//       or-person, or-attribute, or-journal {
//         @include cera(16px, 24px);
//         border-radius: 10px;
//         padding: 10px;
//         padding-top: 8px;
//         padding-bottom: 8px;
//         background-color: #D8D8D8;
//         white-space: nowrap;
//       }
//     }
//   }
// }

or-general-filters, [data-is=or-general-filters] {
  @include cera(16px, 24px);
  display: block;
  padding-right: 30px;

  .form-control {
    margin-bottom: 40px;

    input[type=text] {
      @include cera(16px, 18px);

      box-sizing: border-box;
      width: 100%;
      // height: 24px;
      padding: 7px;
      border: 1px solid $gray-darker;
    }
  }
}

or-chronology-ranges, [data-is=or-chronology-ranges] {
  display: block;
  text-align: right;

  select, select:hover, select:active, select:focus {
    @include or-select;
  }
}

or-chronology-results, [data-is=or-chronology-results] {
  display: block;

  hr {
    border-top-color: $line-color;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  hr:first-child {
    margin-top: 0px;
  }

  hr:last-child {
    margin-bottom: 80px;
  }
}

or-list-item {
  display: block;
  @include lyon(18px, 24px);
  padding: 20px;
  padding-left: 0px;
  padding-right: 0px;
  cursor: pointer;
  border-bottom: 1px solid $line-color; 

  or-icon {
    float: right;
    width: 80px;
    text-align: right;
    margin-top: 20px;
    margin-right: 20px;
  }

  or-pdf-link {
    display: block;
    float: right;
    margin-top: 48px;

    a {
      // color: black;
    }
  }

  .or-item {
    margin-right: 80px;
    padding: 20px;
  }

  or-people-list {
    display: block;
    font-style: italic;
    margin-bottom: 24px;
  }

  .or-title {
    display: block;
    color: black;
    font-weight: bold;
    @include cera(18px, 24px);
  }

  .or-location {
    margin-top: 24px;
    @include cera(16px, 20px);
  }

  .or-teaser {
    margin-top: 24px;
  }

  .or-text, .or-teaser {
    display: block;
    position: relative;
    height: 100px;
    overflow: hidden;

    &:before {
      content:'';
      width:100%;
      height:100%;    
      position:absolute;
      left:0;
      top:0;
      background:linear-gradient(rgba(255,255,255,0) 30px, white);
    }
  }

  .or-item[or-type=sources] {
    or-journal-and-volume {
      display: block;
      @include lyon(17px, 25px);
      margin-bottom: 24px;

      .journal {
        font-style: italic;
      }
    }

    or-medium {
      margin-top: 50px;
      margin-right: -80px;
      display: block;
      float: right;
    }

    a {
      display: block;
      text-decoration: none;

      .or-title {
        margin-bottom: 24px;
      }
    }
  }

  .or-item[or-type=interviews] {
    or-people-list {
      display: inline-block;
      margin-bottom: auto;
    }

    .or-title {
      margin-bottom: 1em;
      @include lyon(18px, 24px);
      font-weight: normal;
    }

    .or-interviewer {
      font-style: italic;
    }
  }

  .or-item[or-type=magazines] {
    margin-right: 0px;

    .or-title {
      margin-right: 0px;
      margin-bottom: 1em;
    }

    & > a {
      display: block;
      text-decoration: none;
    }

    & > a:before {
      content: "› ";
      position: relative;
    }

    .or-decorate-fix {
      text-decoration: underline;
    }
  }

  &.or-search-result {
    .or-width-limit {
      padding-right: 160px;
    }

    .or-title {
      text-decoration: none;
      margin-right: 160px;
    }

    .or-item[or-type=articles] {
      or-pdf-link {
        display: none;
      }
    }

    .or-item[or-type=interviews] {
      a {
        text-decoration: none;
      }

      .or-title {
        @include cera(18px, 24px);
        margin-top: 24px;
        font-weight: bold;
      }
    }

    .or-item[or-type=magazines] {
      a.or-title:before {
        content: "";
      }
    }
  }
}

or-list-item:hover .or-item-frame {
  background-color: #D9E6D9;

  .or-text, .or-teaser {
    &:before {
      background:linear-gradient(rgba(255,255,255,0) 30px, #D9E6D9);
    }
  }
}

or-list-item:first-child {
  border-top: 1px solid $line-color;
}

or-icon, [data-is=or-icon] {
  display: inline-block;
}

or-citation {
  display: block;
  overflow-x: hidden;
}

// or-attribute-selector, [data-is=or-attribute-selector] {

  // or-register-selector {
  //   display: block;
  //   float: left;
  //   width: 66.66%;
  // }
// }

or-attribute-selector, [data-is=or-attribute-selector] {
  display: block;
  min-width: 60rem;
  background-color: white;

  or-icon[which=close] {
    position: absolute;
    z-index: 10002;
    right: 40px;
    top: 40px;

    svg {
      cursor: pointer;
      margin-bottom: -6px;
    }
  }

  .or-frame {
    margin: 80px;
  }

  .or-search-header {
    margin-bottom: 24px;
  }
}

or-register {
  display: block;

  select, select:hover, select:active, select:focus {
    @include or-select;
  }
}

or-register-results, [data-is=or-register-results] {
  display: block;
  margin-top: 48px;

 // .or-result {
 //     margin-bottom: 0.5rem;
 //  }

 //  a {
 //    cursor: pointer;
 //  }

 //  .or-role {
 //    padding-right: 0.2rem;

 //    .or-button {
 //      font-size: 0.7rem;
 //      border-radius: 3px;
 //      padding: 0.2rem;
 //      background-color: darken(#ffffff, 20%);
 //      white-space: nowrap;
 //    }
 //  }
}