<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon" />

    <title>OwnReality – Jedem seine Wirklichkeit</title>

    <link
      rel="stylesheet"
      type="text/css"
      href="<%= stylesheet_path('vendor.css') %>"
    />

    <link
      rel="stylesheet"
      type="text/css"
      href="<%= stylesheet_path('app.css') %>"
    />

    <style type="text/css">
      body {width: 100%; padding: 0px; position: relative; margin: 0px;}
      body > div {
        box-sizing: border-box;
        float: left;
        padding: 1rem;
      }

      body > div.w-clearfix {
        clear: both !important;
        float: initial !important;
      }

      .left {width: 25%;}
      .center {width: 50%;}
      .right {width: 25%;}
      .center.right {width: 75%;}
      .full {float: none;}
    </style>
  </head>
  <body>
    <div class="full w-text-right">
      <!-- <or-busy-wheel></or-busy-wheel> -->
      <or-language-selector></or-language-selector>
    </div>

    <div class="left">
      <or-general-filters
        or-base-target-people-url="/people.html"
        or-base-target-attribs-url="/attribs.html"
      ></or-general-filters>
    </div>
    <div class="center right">
      <or-results></or-results>
    </div>

    <div class="w-clearfix"></div>

    <script
      type="text/javascript"
      src="<%= script_path('app-noboot.js') %>"
    ></script>

    <!-- for testing with IE within vm -->
    <!-- 
    <script
      type="text/javascript"
      src="<%= script_path('app-noboot.js') %>"
      or-api-url="http://192.168.0.249:3000"
    ></script>
     -->

    <script type="text/javascript">
      wApp.setup()
    </script>
  </body>
</html>
