<div class="container" ng-controller="chronology_controller">
  <h1>Chronology</h1>
  <div class="row">
    <div class="col-md-9">
      <div
        or-timeline="items"
        or-current="current"
      ></div>
    </div>
    <div class="col-md-3 or-meta">
      <h4>
        <span
          ng-bind="current._source.id"
          ng-show="debug()"
          class="text-muted"
        ></span>
        <span ng-bind="current._source.title[locale()]"></span>
      </h4>
      <p ng-bind="current._source.content[locale()]"></p>

      <strong ng-bind="'keywords' | t"></strong>:<br \>
      <div or-keyword-list="current._source.id_refs"></div>
      
    </div>
  </div>
</div>