<!doctype html>

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">

    <title>Ownreality online reading sample</title>

    <link rel="stylesheet" type="text/css" href="https://raw.githubusercontent.com/twbs/bootstrap/v3.3.5/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://bootswatch.com/united/bootstrap.min.css">

    <style type="text/css"><%= style %></style>
  </head>
  <body>
    <!-- INSERT BETWEEN HERE -->


    <%= doc %>
    

    <!-- AND HERE -->
  </body>
</html>