<div class="container text-right">
  <select ng-model="config.locale" ng-options="k as v for (k, v) in config.locales"></select>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <h2>Suche</h2>
      <form>
        <div class="form-group">
          <input
            class="form-control"
            type="text"
            placeholder="Volltextsuche"
            ng-model="form.terms"
            wu-delayed-model="true"
          />
        </div>
        <div class="checkbox or-characteristic">
          <label>
            <input type="checkbox" />
            <small>nur in Zusammenfassung suchen</small>
          </label>
        </div>

        <hr />

        <div class="or-criteria">
          <ul class="list-inline">
            <li
              class="label label-default"
              ng-repeat="ref in form.refs"
              ng-click="remove_ref(ref, $event)"
              title="{{lookup[ref]._source.name[config.locale]}}"
            >
              {{lookup[ref]._source.name[config.locale] | limitTo:25}}
              <i class="fa fa-remove"></i>
            </li>
          </ul>
        </div>

        <hr />

        <div class="small">
          <div
            class="or-criteria"
            ng-repeat="(key, agg) in results.aggregations"
            ng-show="agg.buckets.length > 0"
          >
            <div class="pull-right text-right">
              <span class="text-uppercase" ng-bind="key"></span><br />
              <a href="#">... weitere</a>
            </div>
            <ul class="list-unstyled">
              <li ng-repeat="bucket in agg.buckets">
                <span
                  ng-bind="bucket.key"
                  ng-show="debug"
                  class="text-muted"
                ></span>
                <a
                  href="#"
                  ng-bind="lookup[bucket.key]._source.name[config.locale]"
                  ng-click="add_ref(bucket.key, $event)"
                ></a>
                ({{bucket.doc_count}})
              </li>
            </ul>
          </div>
        </div>

        <hr />
        
        <div class="form-group text-right">
          <input type="submit" class="btn btn-primary" value="Suchen" />
        </div>
      </form>
    </div>

    <div class="col-md-9">

      <div class="chronology hidden-xs hidden-sm">
        <div class="row">
          <div class="col-md-12">
            <div class="or-timeline bg-warning text-center">

              <div class="row">
                <div class="col-md-3">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" />
                      Ausstellung (1381)
                    </label>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" />
                      Kultur-/Politisches Ereignis (118)
                    </label>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" />
                      Reise (117)
                    </label>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" />
                      Veröffentlichung (43)
                    </label>
                  </div>
                </div>
              </div>

              <h1>Zeitstrahl UI</h1>
            </div>
          </div>
        </div>
      </div>

      <hr />

      <div class="or-slider" or-slider-lower="form.lower" or-slider-upper="form.upper"></div>

      <div class="text-muted">
        <div class="pull-right">1989</div>
        <div class="pull-left">1960</div>
        <div class="text-center">
          <span ng-bind="form.lower"></span>
          –
          <span ng-bind="form.upper"></span>
        </div>
      </div>

      <hr />

      <h2>
        {{ 'article' | t:{count: 'other', capitalize: true} }}
        <small>{{ 'amount_found' | t:{interpolations: {o: results.total} } }}</small>
      </h2>

      <hr class="invisible" />

      <div class="row">
        <div class="col-md-4">
          <div class="form-group text-right">
            <input
              class="form-control or-autocomplete-journals"
              type="text"
              placeholder="Zeitschriften"
            />
            <a
              href="#"
              data-toggle="modal"
              data-target="#journal-modal"
            >weitere ...</a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group text-right">
            <input
              class="form-control or-autocomplete-people"
              type="text"
              placeholder="Autoren"
            />
            <a
              href="#"
              data-toggle="modal"
              data-target="#people-modal"
            >weitere ...</a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="or-criteria text-right">
            <ul class="list-inline">
              <li class="label label-default">
                Regan Reynolds
                <i class="fa fa-remove"></i>
              </li>
              <li class="label label-default">
                Pagac and Sons
                <i class="fa fa-remove"></i>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <hr class="invisible" />
      
      <div class="row">
        <div class="col-md-12">
          <ul class="or-results list-unstyled">
            <li class="or-source-list-item bg-warning" ng-repeat="record in results.records">
              <div class="or-box">
                <div class="pull-right or-preview">
                  <a href="{{file_url(record, 'original')}}" target="_blank">
                    <img
                      ng-src="{{file_url(record)}}"
                      ng-show="record._source.file_base_hash"
                      class="img-rounded"
                    >
                  </a>
                  <div class="text-right or-icon-bar">
                    <a
                      href="/api/entities/download/{{record._source.file_base_hash}}"
                      title="download"
                    >
                      <i class="fa fa-download"></i>
                    </a>
                  </div>
                </div>
                <div>
                  <small
                    class="text-muted"
                    ng-bind="record._source.people[12063] | people_list"
                  ></small>
                </div>
                <h4>
                  <div>
                    <span
                      ng-bind="record._source.id"
                      ng-show="debug"
                      class="text-muted"
                    ></span>
                    <a
                      or-bind-translate="record._source.title"
                      href="#"
                      data-toggle="modal"
                      data-target="#or-source-modal"
                      ng-click="set_current_id(record, $event)"
                    ></a>
                  </div>
                  <small
                    class="text-muted"
                    ng-bind="bibliography(record)"
                  ></small>
                </h4>
                <p class="small">
                  <span or-bind-translate="record._source.interpretation"></span>
                </p>
                <div class="clearfix"></div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="people-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Personen</h4>
      </div>
      <div class="modal-body">
        <table class="table table-bordered">
          <tr ng-repeat="row in ds().grouped_people">
            <td ng-repeat="person in row" ng-bind="person" class="or-selectable"></td>
          </tr>
        </table>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" data-dismiss="modal">fertig</button>
      </div>
    </div>
  </div>
</div>

<div id="journal-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Zeitschriften</h4>
      </div>
      <div class="modal-body">
        <table class="table table-bordered">
          <tr ng-repeat="row in ds().grouped_journals">
            <td ng-repeat="person in row" ng-bind="person" class="or-selectable"></td>
          </tr>
        </table>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" data-dismiss="modal">fertig</button>
      </div>
    </div>
  </div>
</div>

<div
  or-source-dialog="current_id"
  or-current="current"
></div>