.or-slider {
  margin-top: 1em;
}

.or-timeline {
  // height: 210px;

  // .or-category-selectors {
  //   position: absolute;
  // }

  .or-excess {
    padding-top: 50px;

    h2 {
      margin-top: 0px;
    }
  }
}

[or-db-timeline] {
  .vis-timeline, .vis-label, .vis-panel, .vis-group, .vis-grid {
    border: none !important;
  }

  // .vis-timeline {
  //   margin-bottom: -20px !important;
  // }

  .vis-dot {
    cursor: pointer;
  }

  .or-chrono-group-57 .vis-item {
    border-color: red;
  }

  .or-chrono-group-58 .vis-item {
    border-color: green;
  }

  .or-chrono-group-59 .vis-item {
    border-color: blue;
  }

  .or-chrono-group-60 .vis-item {
    border-color: yellow;
  }
}

.or-box {
  padding: 1em;

  h4 {
    margin-top: 0em;
  }
}

.or-results li {
  margin-bottom: 1em;
}

.or-spacer {
  height: 1em;
}

.or-criterion {
  padding-right: 3px;
  
  .label {
    cursor: pointer;
  }
}

.or-characteristic {
  margin-top: -0.5em;
}

.or-characteristic input[type=checkbox] {
  margin-top: 0.3em;
}

.or-noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.or-preview {
  margin-left: 2em;
}

.or-source-list-item {
  &:hover {
    background-color: #fff2b1;
  }

  .or-icon-bar {
    margin-top: 1em;
  }
}

#or-document-modal {
  object {
    height: 50em;
  }
}