<ul class="dfk-main-menu dfk-main-menu-root">
  <li class="dfk-menu-item">
    <a
      href="http://dfk-prod.palasthotel.de/de/research-project/ownreality-jedem-seine-wirklichkeit-21.html" 
      ng-bind="'information' | t | capitalize"
    ></a>
  </li>
  <li class="dfk-menu-item"><a href="#/papers/magazines" ng-bind="'sources' | t | capitalize"></a></li>
  <li class="dfk-menu-item"><a href="#/chronology" ng-bind="'chronology' | t | capitalize"></a></li>
  <li class="dfk-menu-item"><a href="#/papers/interviews" ng-bind="'interviews' | t | capitalize"></a></li>
  <li class="dfk-menu-item"><a href="#/papers/articles" ng-bind="'papers' | t | capitalize"></a></li>
  <li class="dfk-menu-item"><a href="/#/query">
    {{'database' | t | capitalize}} & {{'research_tool' | t}}
  </a></li>
</ul>