<ul class="dfk-main-menu dfk-main-menu-root">
  <li class="dfk-menu-item dfk-menu-item-0 has-submenu">
    <a href="/de/page/dfk-paris-1.html" data-drupal-link-system-path="node/1">Quellen</a>
  </li>
  <li class="dfk-menu-item dfk-menu-item-0 has-submenu">
    <a href="/de/page/veranstaltungen-1005.html" data-drupal-link-system-path="node/1005">Chronologie</a>
  </li>
  <li class="dfk-menu-item dfk-menu-item-0 has-submenu">
    <a href="/de/page/forschung-4.html" data-drupal-link-system-path="node/4">Interviews</a>
  </li>
  <li class="dfk-menu-item dfk-menu-item-0 has-submenu">
    <a href="/de/page/publikationen-5.html" data-drupal-link-system-path="node/5">Publikationen</a>
  </li>
  <li class="dfk-menu-item dfk-menu-item-0 has-submenu">
    <a href="/de/page/bibliothek-dienstleistung-915.html" data-drupal-link-system-path="node/915">Datenbank & Recherche Werkzeug</a>
  </li>
</ul>