<script type="text/x-ng-tpl" data-id="translated-text">
  {{translation}}
  <i
    class="small fa fa-language"
    ng-show="fallback"
    title="{{message}}"
  ></i>
</script>

<script type="text/x-ng-tpl" data-id="source-dialog">
  <div id="or-source-modal" class="modal fade">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" or-bind-translate="object._source.title"></h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-4">
              <strong>Author(en)</strong>
              <p ng-bind="object._source.people[12063] | people_list"></p>

              <strong>Quelle</strong>
              <p ng-bind="object._source.journal + ', '+ object._source.volume"></p>

              <div ng-repeat="(type_id, people) in object._source.people">
                <strong or-bind-translate="misc().roles[type_id]"></strong>
                <p ng-bind="people | people_list"></p>
              </div>
            </div>
            <div class="col-md-8">
              <strong>Interpretation</strong>
              <p or-bind-translate="object._source.interpretation"></p>

              <strong>Inhalt</strong>
              <p or-bind-translate="object._source.content"></p>
            </div>
          </div>
          <!-- div class="row">
            <div class="col-md-12">
              <div or-source-citation="object"></div>
            </div>
          </div -->
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
          <!-- button type="button" class="btn btn-primary">Save changes</button -->
        </div>
      </div>
    </div>
  </div>
</script>

<script type="text/x-ng-tpl" data-id="source-citation">
  <div class="citation">
    Recommended citation style
    <div ng-show="locale == 'de'">
      <span ng-bind="object.author"></span>,
      „{{object.short_title}}“, in
      <em>{{object.journal}},</em> {{object.volume}};
      siehe Resümee von {{object.updated_by}},
      online seit 12.9.2015, URL: {{object.url}}.
    </div>
    <div ng-show="locale == 'fr'">
      <span ng-bind="object.author"></span>,
      « {{object.short_title}} », dans
      <em>{{object.journal}},</em> {{object.volume}};
      voir la présentation en ligne de {{object.updated_by}},
      mise en ligne le 12.9.2015, URL: {{object.url}}.
    </div>
  </div>
</script>