<!DOCTYPE html>
<html>
  <head>
    <title>OwnReality Portal</title>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <!-- <link rel="stylesheet" href="https://bootswatch.com/journal/bootstrap.min.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.css"> -->

    <%= csrf_meta_tags %>
  </head>
  <body ng-app="or" ng-controller="root_controller">
    <%= yield %>
  </body>
</html>
