<!DOCTYPE html>
<html>
  <head>
    <title>OwnReality Portal</title>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <%= csrf_meta_tags %>

    <%= render :partial => "layouts/templates" %>
  </head>
  <body ng-controller="root_controller" ng-keyup="shortcut($event)">

    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a href="#/" class="navbar-brand">OwnReality</a>
        </div>
        <ul class="nav navbar-nav">
          <li><a href="#/about" ng-bind="'information' | t | capitalize"></a></li>
          <li><a href="#/papers/magazines" ng-bind="'sources' | t | capitalize"></a></li>
          <li><a href="#/chronology" ng-bind="'chronology' | t | capitalize"></a></li>
          <li><a href="#/papers/interviews" ng-bind="'interviews' | t | capitalize"></a></li>
          <li><a href="#/papers/articles" ng-bind="'papers' | t | capitalize"></a></li>
          <li><a href="#/query">
            {{'databases' | t | capitalize}} & {{'research_tool' | t}}
          </a></li>
        </ul>
        <form class="navbar-form navbar-right">
          <div class="form-group">
            <select
              class="form-control"
              ng-model="config.locale"
              ng-options="k as v for (k, v) in config.locales"
            ></select>
          </div>
        </form
      </div>
    </nav>
    
    <div class="page" ui-view="">
      
    </div>
  </body>
</html>
