<!DOCTYPE html>
<html lang="de" dir="ltr" prefix="content: http://purl.org/rss/1.0/modules/content/  dc: http://purl.org/dc/terms/  foaf: http://xmlns.com/foaf/0.1/  og: http://ogp.me/ns#  rdfs: http://www.w3.org/2000/01/rdf-schema#  schema: http://schema.org/  sioc: http://rdfs.org/sioc/ns#  sioct: http://rdfs.org/sioc/types#  skos: http://www.w3.org/2004/02/skos/core#  xsd: http://www.w3.org/2001/XMLSchema# ">
  <head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
<meta name="Generator" content="Drupal 8 (https://www.drupal.org)">
<meta name="MobileOptimized" content="width">
<meta name="HandheldFriendly" content="true">
<meta name="viewport" content="width=1180px,initial-scale=1,user-scalable=no">
<link rel="apple-touch-icon" href="https://dfk-paris.org/themes/dfk/favicons/apple-touch-icon-57x57.png">
<link rel="apple-touch-icon" href="https://dfk-paris.org/themes/dfk/favicons/apple-touch-icon-60x60.png">
<link rel="apple-touch-icon" href="https://dfk-paris.org/themes/dfk/favicons/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" href="https://dfk-paris.org/themes/dfk/favicons/apple-touch-icon-76x76.png">
<link rel="apple-touch-icon" href="https://dfk-paris.org/themes/dfk/favicons/apple-touch-icon-114x114.png">
<link rel="apple-touch-icon" href="https://dfk-paris.org/themes/dfk/favicons/apple-touch-icon-120x120.png">
<link rel="apple-touch-icon" href="https://dfk-paris.org/themes/dfk/favicons/apple-touch-icon-144x144.png">
<link rel="apple-touch-icon" href="https://dfk-paris.org/themes/dfk/favicons/apple-touch-icon-152x152.png">
<link rel="apple-touch-icon" href="https://dfk-paris.org/themes/dfk/favicons/apple-touch-icon-180x180.png">
<link rel="android-chrome" href="https://dfk-paris.org/themes/dfk/favicons/android-chrome-36x36.png">
<link rel="android-chrome" href="https://dfk-paris.org/themes/dfk/favicons/android-chrome-48x48.png">
<link rel="android-chrome" href="https://dfk-paris.org/themes/dfk/favicons/android-chrome-72x72.png">
<link rel="android-chrome" href="https://dfk-paris.org/themes/dfk/favicons/android-chrome-96x96.png">
<link rel="android-chrome" href="https://dfk-paris.org/themes/dfk/favicons/android-chrome-144x144.png">
<link rel="android-chrome" href="https://dfk-paris.org/themes/dfk/favicons/android-chrome-192x192.png">
<link rel="icon" href="https://dfk-paris.org/themes/dfk/favicons/favicon-16x16.png" type="image/png">
<link rel="icon" href="https://dfk-paris.org/themes/dfk/favicons/favicon-32x32.png" type="image/png">
<link rel="icon" href="https://dfk-paris.org/themes/dfk/favicons/favicon-96x96.png" type="image/png">
<meta name="msapplication-TileImage" content="https://dfk-paris.org/themes/dfk/favicons/mstile-144x144.png">
<meta name="msapplication-TileColor" content="#009bb5">
<meta name="msapplication-navbutton-color" content="#ffffff">
<meta name="msapplication-starturl" content="https://dfk-paris.org">
<meta name="msapplication-square70x70logo" content="https://dfk-paris.org/themes/dfk/favicons/mstile-70x70.png">
<meta name="msapplication-square144x144logo" content="https://dfk-paris.org/themes/dfk/favicons/mstile-144x144.png">
<meta name="msapplication-square150x150logo" content="https://dfk-paris.org/themes/dfk/favicons/mstile-150x150.png">
<meta name="msapplication-wide310x150logo" content="https://dfk-paris.org/themes/dfk/favicons/mstile-310x150.png">
<meta name="msapplication-square310x310logo" content="https://dfk-paris.org/themes/dfk/favicons/mstile-310x150.png">
<meta name="msapplication-config" content="https://dfk-paris.org/themes/dfk/favicons/browserconfig.xml">
<link rel="shortcut icon" href="https://dfk-paris.org/themes/dfk/favicon.ico" type="image/vnd.microsoft.icon">
<link rel="alternate" hreflang="de" href="https://dfk-paris.org/de/department/it-707.html">
<link rel="alternate" hreflang="fr" href="https://dfk-paris.org/fr/department/informatique-707.html">
<link rel="canonical" href="/de/department/it-707.html">
<link rel="shortlink" href="/de/node/707">
<link rel="delete-form" href="/de/node/707/delete">
<link rel="edit-form" href="/de/node/707/edit">
<link rel="version-history" href="/de/node/707/revisions">
<link rel="revision" href="/de/department/it-707.html">
<link rel="devel-render" href="/de/node/707/devel/render">
<link rel="devel-load" href="/de/node/707/edit/devel">
<link rel="drupal:content-translation-overview" href="/de/node/707/translations">
<link rel="drupal:content-translation-add" href="/de/node/707/translations/add">
<link rel="drupal:content-translation-edit" href="/de/node/707/translations/edit">
<link rel="drupal:content-translation-delete" href="/de/node/707/translations/delete">

    <title>IT | dfk - paris</title>
    



    
<!--[if lte IE 8]>
<script src="https://dfk-paris.org/core/assets/vendor/html5shiv/html5shiv.min.js?v=3.7.3"></script>
<![endif]-->

  <link rel="stylesheet" href="styles.css">
      <link rel="stylesheet" href="override.css"><%= javascript_include_tag "application" %></head>
  <body class="path-node page-node-type-department" ng-controller="root_controller" ng-keyup="shortcut($event)">
    <a href="#main-content" class="visually-hidden focusable skip-link">
      Direkt zum Inhalt
    </a>
    
    <header class="content-header">



    <div class="layout-translation-menu">
                    <a class="layout-translation-menu-link" href="/fr">français</a>
        
    </div>

    <div class="layout-container">
          <div class="region region-header">
    

  </div>

    </div>

    <div class="content-header-center">
        <div class="layout-logo-container">
            <a href="/de">
                <img src="https://dfk-paris.org/themes/dfk/images/dfk-logo-rgb.svg">
            </a>
        </div>
    </div>

    <div class="clearfix"></div>

    <div class="secondary-menu">
        
    </div>

    <div class="clearfix"></div>


    <div class="dfk-main-menu-hamburger"></div>
    <div class="main-menu">
        <div class="dfk-main-menu-back"></div>
          <div class="region region-primary-menu">
    <nav role="navigation" aria-labelledby="block-dfk-main-menu-menu" id="block-dfk-main-menu" class="block block-menu navigation menu--main">
            
  <h2 class="visually-hidden" id="block-dfk-main-menu-menu">Main navigation</h2>
  

        

                <%= render :partial => "layouts/dfk_header" %>
    


  </nav>

  </div>

    </div>


</header>

<div class="layout-container" ng-view=""></div>

<div class="footer-container">
    <div class="footer-wrapper">
        <div class="footer-logo">
            <p class="footer-logo-teaser">Das DFK Paris ist <br>ein Institut der</p>
            <a href="http://www.maxweberstiftung.de/">
                <img src="https://dfk-paris.org/themes/dfk/images/Logo-Max-Weber-Stifung.svg">
            </a>
        </div>

        <div class="footer-navigation">
              <div class="region region-footer">
    <nav role="navigation" aria-labelledby="block-footermainmenude-menu" id="block-footermainmenude" class="block block-menu navigation menu--footer-main-menue-de">
            
  <h2 class="visually-hidden" id="block-footermainmenude-menu">Footer Main Menü DE</h2>
  

        
              <ul class="menu">
                    <li class="menu-item">
        <a href="/de" data-drupal-link-system-path="&lt;front&gt;">DFK Paris</a>
              </li>
                <li class="menu-item">
        <a href="/de/page/forschung-4.html" data-drupal-link-system-path="node/4">Forschung</a>
              </li>
                <li class="menu-item">
        <a href="/de/page/publikationen-5.html" data-drupal-link-system-path="node/5">Publikation</a>
              </li>
                <li class="menu-item">
        <a href="/de/department/bibliothek-725.html" data-drupal-link-system-path="node/725">Bibliothek</a>
              </li>
                <li class="menu-item">
        <a href="/de/page/datenbanken-6.html" data-drupal-link-system-path="node/6">Datenbanken</a>
              </li>
                <li class="menu-item">
        <a href="/de/page/f%C3%B6rderung-8.html" data-drupal-link-system-path="node/8">Förderung</a>
              </li>
                <li class="menu-item">
        <a href="/de/user/login" data-drupal-link-system-path="user/login">LOGIN</a>
              </li>
        </ul>
  


  </nav>

  </div>

        </div>

        <div class="footer-social-media">
            <strong>Folgen Sie uns</strong>

            <p><br></p>

            <p>
                <a href="https://www.facebook.com/DFKParis/"><span><img src="https://dfk-paris.org/themes/dfk/images/Facebook.svg"></span></a>
                <a href="https://twitter.com/dfkparis"><span><img src="https://dfk-paris.org/themes/dfk/images/Twitter.svg"></span></a>
                <!--
                <span><img src="/themes/dfk/images/GooglePlus.svg"/></span>
                -->
            </p>
        </div>

        <div class="footer-opening">
            <strong>Öffnungszeiten des DFK</strong>

            <p>Montag bis Freitag 9–18 Uhr</p>

            <p><br></p>
            <strong>Öffnungszeiten der Bibliothek</strong>

            <p>Montag bis Donnerstag 10–17 Uhr</p>

            <p>Freitag 10–16 Uhr</p>
        </div>

        <div class="footer-contact">
              <div class="region region-footer-2nd">
    <nav role="navigation" aria-labelledby="block-secondfootermenude-menu" id="block-secondfootermenude" class="block block-menu navigation menu--second-footer-menu-de">
            
  <h2 class="visually-hidden" id="block-secondfootermenude-menu">Second Footer Menu DE</h2>
  

        
              <ul class="menu">
                    <li class="menu-item">
        <a href="/de/page/datenschutz-1003.html" data-drupal-link-system-path="node/1003">Datenschutz</a>
              </li>
                <li class="menu-item">
        <a href="/de/page/impressum-1001.html" data-drupal-link-system-path="node/1001">Impressum</a>
              </li>
                <li class="menu-item">
        <a href="/de/page/kontakt-anfahrt-%C3%B6ffnungszeiten-55.html" data-drupal-link-system-path="node/55">Kontakt</a>
              </li>
                <li class="menu-item">
        <a href="/de/page/newsletter-997.html" data-drupal-link-system-path="node/997">Newsletter</a>
              </li>
                <li class="menu-item">
        <a href="/de/page/nutzungsbedingungen-999.html" data-drupal-link-system-path="node/999">Nutzungsbedingungen</a>
              </li>
        </ul>
  


  </nav>

  </div>

        </div>
    </div>
</div>

    
    



  <script type="text/javascript" src="scripts.js"></script>
</body>
</html>
